body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(69, 69, 234);
  color: white;
  font-family: cursive;
}

.container {
  width: 50%;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.mouse-event {
  flex: 6;
  width: 100%;
  border: solid 1px lightgray;
}

.mouse-event h4 {
  position: relative;
  font-size: 25px;
  top: -110px;
}
.mouse-event p {
  position: relative;
  bottom: 30px;
  font-size: 35px;
}
